<h2 class="page-header book-header"><%= book.title %></h2>
<div class="book-details">
    <div>
        <img class="book-cover" src="<%= book.coverImagePath %>">
        <div class="book-details-btn-grid">
            <a class="editlinks edit-author" href="/books/<%= book.id %>/edit">edit</a>
            <%- include("../partials/deleteForm2", { url: `/books/${book.id}`}) %>
            <a class="editlinks view-author" href="/authors/<%= book.author.id %>">view author</a>
        </div>
    </div>
    <div class="books-details-grid">
        <div class="book-details-label">author: </div>
        <div><%= book.author.name %></div>
        <div class="book-details-label">publish date: </div>
        <div><%= book.publishDate.toDateString() %></div>
        <div class="book-details-label">page count: </div>
        <div><%= book.pageCount %></div>
        <div class="book-details-label">description: </div>
        <div><%= book.description %></div>
    </div>
</div>