<h2 class="page-header">search authors</h2>
<form action="/authors" method="GET">
    <div class="form-row">
        <div class="search-bar">
            <!-- <label>name</label> -->
            <input type="text" name="name" value="<%= searchOptions.name %>"/>
            <button class="btn btn-primary btn-search" type="submit">search</button>
        </div>    
    </div>
</form>
<% authors.forEach(author => { %>
<div class="author-item">
    <p><%= author.name %></p>
    <div class="btn-row">
        <a class="editlinks" href="/authors/<%= author.id %>">view</a>
        <a class="editlinks" href="/authors/<%= author.id %>/edit">edit</a>
        <%- include("../partials/deleteForm", { url: `/authors/${author.id}`})%>
    </div>
</div>
<% }) %>

